div.conditional_panel label.control-label{
  color:red;
}

.sobre{
  background-color: white;
  color: black;
  font-family: 'Titillium Web';
  padding: 15px 15px 30px 35px;
  border-radius: 10px;
}

.sobre h3 {
  font-weight: bold;
}

.sobre p {
  color: black;
}

.download_button{
  background-color:#1c5876;
  color: white;
}

.dataTables_wrapper {
  font-weight: normal;
}

.aba_base_brasil {
  color:black;
  font-weight: bold;
  font-size: 16px;
}

#databrasil {
  color:red;
}

.skin-blue {
  font-family : 'titillium web';
  font-weight: bold;
  color: white;
}

.skin-blue .main-header .navbar .nav > li > a {
  color: #40e0d0;
}

label {
  font-family:Titillium Web;
}

.box.box-solid.box-primary, .box.box-primary {
    border-color: rgb(51,148,175);
    border-left-color: rgb(51,148,175);
    border-right-color: rgb(51,148,175);
    border-top-color: rgb(51,148,175);
    border-radius: 5px;
}

.box.box-solid.box-primary > .box-header {
    background: rgb(51,148,175);
    border-radius: 5px;
}


.main-header .logo {
  font-family : 'titillium web';
}

.main-sidebar {
  font-family: 'titillium web';
}

.box.box-solid.box-primary > .box-header h3 {
    color: #ffffff;
    font-family: 'titillium web';
    font-weight: bold;
}

.box.box-primary > .box-header h3 {
    color: #3394af;
    font-family: 'titillium web';
    font-weight: bold;
}

div.dropdown_button {
  float:right;
}

h3.dropdown_button{
  font-family: 'Titillium Web';
  font-weight: bold;
  text-align: center;
  color: #00a65a;
}

.dropdown-menu {
  box-shadow:none;
  border-color: #00a65a;
}


